@import "./library/utils";
@import "./library/mixins";
@import "./library/extends";

.v-progress {
  @extend %inline-flex;
  @extend %align-items-center;
  width: 100%;

  &-bar {
    @extend %relative;
    @extend %block;
    width: 100%;
    @extend %overflow-hidden;
    background: rgba($primary-color, .2);
    border-radius: #{$progress-thick}px;
  }

  &-bar, &-value {
    height: #{$progress-thick}px;
  }

  &-value {
    @extend %absolute;
    @extend %bg-blue;
    z-index: 1;
    transition: width 1s ease-out .2s;
  }

  &-label {
    margin-left: 10px;
    @extend %small-text;
  }
}