@import "library/utils";
@import "library/mixins";
@import "library/extends";

.v-table-controls {
  padding: #{$cell-mob-space}px #{$cell-mob-space}px 0 #{$cell-mob-space}px;

  @include breakpoint(s) {
    padding: #{$cell-space}px #{$cell-space}px 0 #{$cell-space}px;
  }

  &-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: $white-color;
    z-index: 999;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
  }

  &-col {
    @extend %flex;
    @extend %align-items-center;

    &:last-child {
      justify-self: end;
    }
  }
}

.v-table-control {
  margin: 0 #{$cell-space}px #{$cell-space}px 0;

  &-search {
    display: none;

    @include breakpoint(s) {
      display: block;
    }
  }

  .v-table-search {
    display: none;
    @extend %flex;
    @extend %align-items-center;
    @extend %overflow-hidden;
    padding: $search-padding;
    background: $box-color;
    border-radius: #{$box-radius}px;

    input {
      min-width: 200px;
      background: transparent;
      border: none;
      outline: none;
      font-size: $medium-text;
    }
  }

  &.v-table-all-checkbox {
    margin-right: #{($cell-space * 2)}px;
  }
}