// Colors
$primary-color: #0b0e16;
$blue-color: #007bff;
$green-color: #23C197;
$red-color: #dc3545;
$yellow-color: #ffc107;
$cyan-color: #17a2b8;
$white-color: #fff;
$black-color: #000;
$gray-color: #828b93;

// Dimensions
$cell-space: 20;
$cell-mob-space: 10;
$head-padding: 10;
$button-size: 25;
$status-size: 12;
$big-text: 1.1em;
$medium-text: 1em;
$small-text: .8em;
$tag-radius: 2;
$check-box-size: 25;
$tool-color: rgba($primary-color, .8);
$box-color: rgba($primary-color, .08);
$box-radius: 4;
$search-padding: 6px 10px;
$progress-thick: 6;