@mixin size($width, $height: $width, $overflow: hidden) {
  width: #{$width}px;
  height: #{$height}px;
  overflow: $overflow;
}

@mixin round($size) {
  @include size($size);
  border-radius: #{$size}px;
}